@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/******************************HEADER***********************************/

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

.container-fluid{
    background-color: rgb(197, 197, 197);
    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 150px;
    position: relative;
}

.row{
    margin: 0;
    padding: 0;

}

.col-2{
    padding: 0;
    margin: 0;
}

.col-2 i{
    font-size: 700%;
    padding: 0;
    left: 20px;
    top: 5px;
    position: absolute;
    text-align: left;
}

.col-2 h1{
    padding: 0;
    left: 130px;
    top: 12px;
    position: absolute;
    text-transform: uppercase;
}

