@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/******************************MAIN HEADER***********************************/

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fafafa;
    padding: 0;
    margin: 0;
    color: #212529;
}

.container-fluid{
    background-color: rgb(190, 190, 190);
    height: 9vw;
    padding: 0 2vw;
    position: relative;
}


/**BRAND**/

.brand-logo i{
    position: absolute;
    top: 1vw;
    font-size: 7vw;
    padding-left: 1vw;
    
}

.brand-name h1{
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Roboto",sans-serif;
    font-size: 3vw;
    text-align: center;
    top: 1vw;
    letter-spacing: 0.2vw;
}



/**CONTACT DETAILS**/

.contact-mail-header{
    position: absolute;
    padding-top: 2vw;
    font-size: 1.5vw;
}

.contact-number-mail{
    position: absolute;
    padding-top: 5vw;
    font-size: 1.5vw;
}

.contact-number-mail h6, .contact-mail-header h6{
    display: inline;
    font-size: 1.5vw;
    padding-left: 0.5vw;
}


/**SOCIAL ICONS**/

.social-media-header{
    font-size: 2vw;
    padding-top: 1vw;
    padding-right: 0;
    text-align: center;
}



/****************************** /MAIN HEADER***********************************/

/****************************** NAVBAR***********************************/

.bg-navbar{
    background-color: rgb(190, 190, 190);
    height: 9vw;
    padding: 0 2vw;
    position: relative;
}

.navbar-logo i{
    position: absolute;
    top: 1vw;
    font-size: 7vw;
    padding-left: 1vw;
}

.navbar-brand h1{
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Roboto",sans-serif;
    font-size: 3vw;
    text-align: center;
    top: 3vw;
    letter-spacing: 0.2vw;

}

/****************************** /NAVBAR***********************************/


section{
    height: 500px;
    text-align: center;
    padding-top: 500px;
}


