@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/******************************HEADER***********************************/

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

.container-fluid{
    background-color: rgb(197, 197, 197);
    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 150px;
    position: relative;
}

.row,.brand{
    margin: 0;
    padding: 0;
}

.col-1, .fa-facebook-square, .fa-linkedin-square {
    font-size: 27px;
    padding: 0;
    padding-top: 10px;
   
}

.col-2{
    padding: 0;
    margin: 0;
}

.col-2 i{
    font-size: 700%;
    left: 20px;
    top: 5px;
    position: absolute;
}

.col-2 h1{
    padding: 0;
    left: 130px;
    top: 14px;
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Roboto",sans-serif;
}


/******************************MEDIA QUERIES***********************************/

@media screen and (max-width: 720px) {
    .container-fluid, .desktop-container {
      height: 0;
      padding: 0;
    }
    .col-1, .col-2, .fa-facebook-square, .fa-linkedin-square, h1 {
        font-size: 0;
        padding: 0;
    }

@media screen and (max-width: 992px) {
    .container-fluid, .desktop-container {
      height: 0;
      padding: 0;
    }
    .col-1, .col-2, .fa-facebook-square, .fa-linkedin-square, h1 {
        font-size: 0;
        padding: 0;
    }
